

.racer_table td.active {
  background-color: black;
}


#connect_board td {
  background-color:	grey;
  border: blue solid;
  font-size: 40pt;
  height: 100px;
  width: 100px;
  /*content:url("images/circle.png");*/
  /*background-image: "images/circle.png";*/
  
}

.players {
	height: 80px;
  width: 80px;
  border-radius: 40px;
  margin: 0 auto;

	   /* width: 640px; can be in percentage also.*/
  /*  height: auto;
    padding: 10px;
    position: relative;*/
}

.player1 {
  content:url("images/josh.jpeg");
}

.player2 {
  content:url("images/derek.png");
}


/*
.connect_board td {
  background-color: black;
  height: 30px;
  width: 30px;
  border: 2px solid blue;
  border-radius: 40px;
}*/