<h2>Sign in</h2>
<form id="sign-in" method="post" action="/sessions/player1">

  <label class="label" for="email">Username:</label><br>
  <input type="text" name="username" placeholder="" value=""><br>

  <br>
  <div class="submit"><input type="submit" value="Sign In"></div>
</form>
<a href="/users/new">Sign up</a>