<h2>Hello <%= current_user.name %></h2>
<p>
  Points: <%= %>
</p>

<form id="sign-out" action="/sessions/player1/<%= current_user.id %>" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="Sign Out">
</form>

<link>