<html>
  <head>
    <title>Kalinc Four</title>
  </head>
  <body>
    <h1>Kalinc Four</h1>
    <table id="connect_board">
      <tr id="row_1">
        <td class="col_1"></td>
        <td class="col_2"></td>
        <td class="col_3"></td>
        <td class="col_4"></td>
        <td class="col_5"></td>
        <td class="col_6"></td>
        <td class="col_7"></td>
      </tr>
      <tr id="row_2">
        <td class="col_1"></td>
        <td class="col_2"></td>
        <td class="col_3"></td>
        <td class="col_4"></td>
        <td class="col_5"></td>
        <td class="col_6"></td>
        <td class="col_7"></td>
      </tr>
        <tr id="row_3">
        <td class="col_1"></td>
        <td class="col_2"></td>
        <td class="col_3"></td>
        <td class="col_4"></td>
        <td class="col_5"></td>
        <td class="col_6"></td>
        <td class="col_7"></td>
      </tr>
        <tr id="row_4">
        <td class="col_1"></td>
        <td class="col_2"></td>
        <td class="col_3"></td>
        <td class="col_4"></td>
        <td class="col_5"></td>
        <td class="col_6"></td>
        <td class="col_7"></td>
      </tr>
        <tr id="row_5">
        <td class="col_1"></td>
        <td class="col_2"></td>
        <td class="col_3"></td>
        <td class="col_4"></td>
        <td class="col_5"></td>
        <td class="col_6"></td>
        <td class="col_7"></td>
      </tr>
        <tr id="row_6">
        <td class="col_1"></td>
        <td class="col_2"></td>
        <td class="col_3"></td>
        <td class="col_4"></td>
        <td class="col_5"></td>
        <td class="col_6"></td>
        <td class="col_7"></td>
      </tr>
    </table>


  </body>
</html>
