<h2>Sign up</h2>
<form id="sign-up" method="post" action="/users">

  <label class="label" for="email">Name:</label><br>
  <input type="text" name="name" placeholder="" value=""><br>

  <label class="label" for="email">Username:</label><br>
  <input type="text" name="username" placeholder="" value=""><br>

  <br>
  <div class="submit"><input type="submit" value="Create user"></div>
</form>